{{ paginate }}
  {{ if total_pages > 1 }}
    <div class="flex gap-2 items-center mt-4 lg:mt-8 text-coffee-800 dark:text-coffee-200 font-sans text-base">
        <a href="{{ prev_page }}" class="font-header inline-flex items-center font-semibold hover:underline" title="Previous Page">
            {{ partial:heroicons/arrow-long-left-icon class="h-4 w-4 mr-2"}}
            Previous
        </a>
        <p class="text-coffee-600 dark:text-coffee-300 font-header ">
            {{ current_page }} of {{ total_pages }} pages
            <span class="text-coffee-500">({{ total_items }} total)</span>
        </p>
        <a href="{{ next_page }}" class="font-header inline-flex items-center font-semibold hover:underline" title="Next Page">
            Next
            {{ partial:heroicons/arrow-long-right-icon class="h-4 w-4 ml-2"}}
        </a>
    </div>
  {{ /if }}
{{ /paginate }}