{{ partial:home/header }}
<!-- About Start -->
<div class="container mx-auto px-4 lg:px-6 pt-8 lg:pt-48">
    <div class="flex flex-col lg:flex-row lg:items-center lg:justify-between lg:gap-8">
        <div id="about-images" class="flex w-2/5 flex-col gap-2 lg:gap-4">
            <div class="grid grid-cols-2 grid-flow-col-dense w-full gap-2 lg:gap-4">
                <div class="w-full h-full"><img class="object-cover w-full rounded-md" src="./assets/home/About-1.jpg" alt="Asset 1"></div>
                <div class="row-span-2 w-full h-full">
                    <img class="object-cover rounded-md h-full" src="./assets/home/About-3.jpg" alt="Asset 3">
                </div>
                <div class="w-full h-full"><img class="object-cover h-full rounded-md" src="./assets/home/About-2.jpg" alt="Asset 2"></div>
            </div>
            <img class="rounded-md w-full" src="./assets/home/About-4.jpg" alt="Asset 4">
        </div>
        <div id="about-content" class="py-4 lg:py-8 max-w-prose">
            <h2 class="font-sans font-bold text-3xl lg:text-5xl text-coffee-800 pb-3">About</h2>
            <div class="prose pb-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa tincidunt nisl iaculis malesuada. Viverra senectus pretium eros, metus elementum sed dis id faucibus. Adipiscing tempus cursus nunc ut. Consectetur consequat et in sed purus varius phasellus.
                    Imperdiet pellentesque tortor lacus, ultrices. Egestas.</p>
            </div>
            <div>
                <h3 class="font-sans font-semibold text-xl lg:text-3xl text-coffee-800">Values</h3>
                <ul class="pt-2 max-w-md">
                    <li class="py-3 w-full border-b border-coffee-400 text-lg lg:text-xl text-coffee-600 font-sans">Value 1</li>
                    <li class="py-3 w-full border-b border-coffee-400 text-lg lg:text-xl text-coffee-600 font-sans">Value 2</li>
                    <li class="py-3 w-full border-b border-coffee-400 text-lg lg:text-xl text-coffee-600 font-sans">Value 3</li>
                    <li class="py-3 w-full border-b border-coffee-400 text-lg lg:text-xl text-coffee-600 font-sans">Value 4</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Featured Projects Start -->
<div class="container mx-auto px-4 lg:px-6 pt-8 lg:pt-48">
    <h2 class="font-sans font-bold text-3xl lg:text-5xl text-coffee-800 pb-3">Featured Projects</h2>
    <ul class="grid grid-cols-1 gap-3 lg:gap-6 mt-6 lg:mt-9">
        <li>
            <article class="flex flex-col lg:flex-row-reverse lg:items-end justify-between border border-coffee-400 rounded-lg p-2 lg:p-4">
                <a href="#" class="hover:opacity-60 w-full lg:w-3/5" title="monitorQA">
                    <img class="rounded-md" src="./assets/home/MQA-1.jpg" alt="Monitorqa">
                </a>
                <div class="p-4">
                    <ul class="flex gap-2">
                        <li class="py-1 px-2 bg-coffee-200 rounded font-mono text-coffee-800">
                            <a class="font-mono text-coffee-800 text-xs font-light" href="#" title="title">WordPress</a>
                        </li>
                        <li class="py-1 px-2 bg-coffee-200 rounded font-mono text-coffee-800">
                            <a class="font-mono text-coffee-800 text-xs font-light" href="#" title="title">Design</a>
                        </li>
                        <li class="py-1 px-2 bg-coffee-200 rounded font-mono text-coffee-800">
                            <a class="font-mono text-coffee-800 text-xs font-light" href="#" title="title">Development</a>
                        </li>
                    </ul>
                    <a href="#" title="monitorQA">
                        <h3 class="text-2xl mt-4 lg:text-4xl font-sans font-semibold text-coffee-800">
                            <span class="border-b-2 border-transparent hover:border-coffee-600 leading-tight">monitorQA</span>
                        </h3>
                    </a>
                    <time class="lg:text-xl font-sans text-coffee-700">December 2020</time>
                </div>
            </article>
        </li>
    </ul>
</div>
<!-- Featured Projects End -->
<!-- Archive & Resume Start -->
<div class="container mx-auto px-4 lg:px-6 pt-8 lg:pt-48">
    <div class="flex justify-between w-full items-center">
        <h2 class="font-sans font-bold text-3xl lg:text-5xl text-coffee-800 pb-3">Featured Projects</h2>
        <div class="flex gap-4 lg:gap-8">
            <div class="inline-flex items-center space-x-4">
                <div class="w-2 h-2 rounded-full bg-lime-500"></div>
                <span class="text-coffee-700 lg:text-lg font-sans">Active</span>
            </div>
            <div class="inline-flex items-center space-x-4">
                <div class="w-2 h-2 rounded-full bg-amber-500"></div>
                <span class="text-coffee-700 lg:text-lg font-sans">Ongoing</span>
            </div>
            <div class="inline-flex items-center space-x-4">
                <div class="w-2 h-2 rounded-full bg-red-500"></div>
                <span class="text-coffee-700 lg:text-lg font-sans">Archived</span>
            </div>
        </div>
    </div>
    <table class="w-full">
        <tbody class="divide-y divide-coffee-400">
            <tr class="py-2 lg:py-4 grid md:grid-cols-4">
                <td class="inline-flex items-center gap-4 col-span-2">
                    <div class="w-2 h-2 rounded-full bg-lime-500"></div>
                    <p class="text-lg lg:text-xl font-sans space-x-2">
                        <span class="text-coffee-800 font-semibold">Project</span>
                        <span class="text-coffee-600">2022 -</span>
                    </p>
                    <div class="inline-flex gap-2">
                        <a href="#" title="title">
                            <document-text-icon class="text-coffee-700 w-4 lg:w-6 h-4 lg:h-6" />
                            <span class="sr-only">View case study</span>
                        </a>
                        <a href="#" title="title">
                            <external-link-icon class="text-coffee-700 w-4 lg:w-6 h-4 lg:h-6" />
                            <span class="sr-only">View site</span>
                        </a>
                    </div>
                </td>
                <td>
                    <p class="text-coffee-700 text-lg lg:text-xl font-mono">Web development</p>
                </td>
                <td class="flex items-center justify-end gap-4">
                    <p class="text-lg lg:text-xl font-sans text-coffee-800 font-semibold">
                        Partner
                    </p>
                    <a href="#" title="title">
                        <external-link-icon class="text-coffee-700 w-4 lg:w-6 h-4 lg:h-6" />
                        <span class="sr-only">View site</span>
                    </a>
                </td>
            </tr>
            <tr class="py-2 lg:py-4 grid md:grid-cols-4">
                <td class="inline-flex items-center gap-4 col-span-2">
                    <div class="w-2 h-2 rounded-full bg-lime-500"></div>
                    <p class="text-lg lg:text-xl font-sans space-x-2">
                        <span class="text-coffee-800 font-semibold">Project</span>
                        <span class="text-coffee-600">2021 - 2022</span>
                    </p>
                    <div class="inline-flex gap-2">
                        <a href="#" title="title">
                            <document-text-icon class="text-coffee-700 w-4 lg:w-6 h-4 lg:h-6" />
                            <span class="sr-only">View case study</span>
                        </a>
                        <a href="#" title="title">
                            <external-link-icon class="text-coffee-700 w-4 lg:w-6 h-4 lg:h-6" />
                            <span class="sr-only">View site</span>
                        </a>
                    </div>
                </td>
                <td>
                    <p class="text-coffee-700 text-lg lg:text-xl font-mono">Web development</p>
                </td>
                <td class="flex items-center justify-end gap-4">
                    <p class="text-lg lg:text-xl font-sans text-coffee-800 font-semibold">
                        Partner
                    </p>
                    <a href="#" title="title">
                        <external-link-icon class="text-coffee-700 w-4 lg:w-6 h-4 lg:h-6" />
                        <span class="sr-only">View site</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container mx-auto px-4 lg:px-6 pt-4 lg:pt-12">
    <h2 class="font-sans font-bold text-2xl lg:text-4xl text-coffee-800 pb-3">Resume</h2>
    <div class="grid md:grid-cols-2 gap-x-4 lg:gap-x-8">
        <p class="py-2 lg:py-4 w-full text-lg lg:text-xl font-sans space-x-2 border-b border-coffee-400">
            <span class="text-coffee-800 font-semibold">Skill</span>
            <span class="text-coffee-600">2022 -</span>
        </p>
        <p class="py-2 lg:py-4 w-full text-lg lg:text-xl font-sans space-x-2 border-b border-coffee-400">
            <span class="text-coffee-800 font-semibold">Skill</span>
            <span class="text-coffee-600">2022 -</span>
        </p>
        <p class="py-2 lg:py-4 w-full text-lg lg:text-xl font-sans space-x-2 border-b border-coffee-400">
            <span class="text-coffee-800 font-semibold">Skill</span>
            <span class="text-coffee-600">2022 -</span>
        </p>
        <p class="py-2 lg:py-4 w-full text-lg lg:text-xl font-sans space-x-2 border-b border-coffee-400">
            <span class="text-coffee-800 font-semibold">Skill</span>
            <span class="text-coffee-600">2022 -</span>
        </p>
    </div>
</div>
<!-- Archive & Resume End -->
<!-- Feed Start -->

<!-- Feed End -->
<!-- Contact Start -->

<!-- Contact End -->
<div class="pt-6 lg:pt-12 pb-16 container mx-auto px-4 lg:px-6">
    {{ content }}
</div>
