{{ partial:home/header }}
{{ partial:home/about }}
<!-- Featured Projects Start -->
<div class="container mx-auto px-4 lg:px-6 pt-8 md:pt-24 lg:pt-48">
    <h2 class="font-sans font-bold text-3xl lg:text-5xl text-coffee-800 pb-3">Featured Projects</h2>
    <ul class="grid grid-cols-1 gap-3 lg:gap-6 mt-6 lg:mt-9">
        <li>
            <article class="flex flex-col md:flex-row-reverse md:items-end justify-between border border-coffee-400 rounded-lg p-2 lg:p-4">
                <a href="#" class="hover:opacity-60 w-full md:w-1/2 lg:w-3/5" title="monitorQA">
                    <img class="rounded-md" src="./assets/home/MQA-1.jpg" alt="Monitorqa">
                </a>
                <div class="pt-4 md:p-2 lg:p-4">
                    <ul class="flex gap-2">
                        <li class="py-1 px-2 bg-coffee-200 rounded font-mono text-coffee-800">
                            <a class="font-mono text-coffee-800 text-xs font-light" href="#" title="title">WordPress</a>
                        </li>
                        <li class="py-1 px-2 bg-coffee-200 rounded font-mono text-coffee-800">
                            <a class="font-mono text-coffee-800 text-xs font-light" href="#" title="title">Design</a>
                        </li>
                        <li class="py-1 px-2 bg-coffee-200 rounded font-mono text-coffee-800">
                            <a class="font-mono text-coffee-800 text-xs font-light" href="#" title="title">Development</a>
                        </li>
                    </ul>
                    <a href="#" title="monitorQA">
                        <h3 class="text-2xl mt-4 lg:text-4xl font-sans font-semibold text-coffee-800">
                            <span class="border-b-2 border-transparent hover:border-coffee-600 leading-tight">monitorQA</span>
                        </h3>
                    </a>
                    <time class="lg:text-xl font-sans text-coffee-700">December 2020</time>
                </div>
            </article>
        </li>
    </ul>
</div>
<!-- Featured Projects End -->
<!-- Archive & Resume Start -->
<div class="container mx-auto px-4 lg:px-6 pt-8 md:pt-24 lg:pt-48">
    <div class="flex flex-col gap-2 pb-4 md:pb-0 border-b border-coffee-400 md:border-none md:flex-row md:justify-between w-full md:items-center">
        <h2 class="font-sans font-bold text-3xl lg:text-5xl text-coffee-800 md:pb-3">Featured Projects</h2>
        <div class="flex gap-4 lg:gap-8">
            <div class="inline-flex items-center space-x-4">
                <div class="w-2 h-2 rounded-full bg-lime-500"></div>
                <span class="text-coffee-700 lg:text-lg font-sans">Active</span>
            </div>
            <div class="inline-flex items-center space-x-4">
                <div class="w-2 h-2 rounded-full bg-amber-500"></div>
                <span class="text-coffee-700 lg:text-lg font-sans">Ongoing</span>
            </div>
            <div class="inline-flex items-center space-x-4">
                <div class="w-2 h-2 rounded-full bg-red-500"></div>
                <span class="text-coffee-700 lg:text-lg font-sans">Archived</span>
            </div>
        </div>
    </div>
    <table class="w-full">
        <tbody class="divide-y divide-coffee-400">
            <tr class="py-4 grid md:grid-cols-3 lg:grid-cols-4 gap-2">
                <td class="flex items-center justify-between md:justify-start gap-4 lg:col-span-2">
                    <div class="gap-4 inline-flex items-center">
                        <div class="w-2 h-2 rounded-full bg-lime-500"></div>
                        <p class="text-xl font-sans space-x-2">
                            <span class="text-coffee-800 font-semibold">Project</span>
                            <span class="text-coffee-600">2022 -</span>
                        </p>
                    </div>
                    <div class="inline-flex gap-2">
                        <a href="#" title="title">
                            <document-text-icon class="text-coffee-700 w-6 h-6" />
                            <span class="sr-only">View case study</span>
                        </a>
                        <a href="#" title="title">
                            <external-link-icon class="text-coffee-700 w-6 h-6" />
                            <span class="sr-only">View site</span>
                        </a>
                    </div>
                </td>
                <td class="inline-flex items-center">
                    <p class="text-coffee-700 lg:text-xl font-mono">Web development</p>
                </td>
                <td class="hidden md:flex justify-end gap-4 mt-0">
                    <p class="text-xl font-sans text-coffee-800 font-semibold">
                        Partner
                    </p>
                    <a href="#" title="title">
                        <external-link-icon class="text-coffee-700 w-6 h-6" />
                        <span class="sr-only">View site</span>
                    </a>
                </td>
            </tr>
            <tr class="py-4 grid md:grid-cols-3 lg:grid-cols-4 gap-2">
                <td class="flex items-center justify-between md:justify-start gap-4 lg:col-span-2">
                    <div class="gap-4 inline-flex items-center">
                        <div class="w-2 h-2 rounded-full bg-lime-500"></div>
                        <p class="text-xl font-sans space-x-2">
                            <span class="text-coffee-800 font-semibold">Project</span>
                            <span class="text-coffee-600">2022 -</span>
                        </p>
                    </div>
                    <div class="inline-flex gap-2">
                        <a href="#" title="title">
                            <document-text-icon class="text-coffee-700 w-6 h-6" />
                            <span class="sr-only">View case study</span>
                        </a>
                        <a href="#" title="title">
                            <external-link-icon class="text-coffee-700 w-6 h-6" />
                            <span class="sr-only">View site</span>
                        </a>
                    </div>
                </td>
                <td class="inline-flex items-center">
                    <p class="text-coffee-700 lg:text-xl font-mono">Web development</p>
                </td>
                <td class="hidden md:flex justify-end gap-4 mt-0">
                    <p class="text-xl font-sans text-coffee-800 font-semibold">
                        Partner
                    </p>
                    <a href="#" title="title">
                        <external-link-icon class="text-coffee-700 w-6 h-6" />
                        <span class="sr-only">View site</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container mx-auto px-4 lg:px-6 pt-4 lg:pt-12">
    <h2 class="font-sans font-bold text-2xl lg:text-4xl text-coffee-800 pb-3">Resume</h2>
    <div class="grid md:grid-cols-2 gap-x-4 lg:gap-x-8">
        <p class="py-2 lg:py-4 w-full text-lg lg:text-xl font-sans space-x-2 border-b border-coffee-400">
            <span class="text-coffee-800 font-semibold">Skill</span>
            <span class="text-coffee-600">2022 -</span>
        </p>
        <p class="py-2 lg:py-4 w-full text-lg lg:text-xl font-sans space-x-2 border-b border-coffee-400">
            <span class="text-coffee-800 font-semibold">Skill</span>
            <span class="text-coffee-600">2022 -</span>
        </p>
        <p class="py-2 lg:py-4 w-full text-lg lg:text-xl font-sans space-x-2 border-b border-coffee-400">
            <span class="text-coffee-800 font-semibold">Skill</span>
            <span class="text-coffee-600">2022 -</span>
        </p>
        <p class="py-2 lg:py-4 w-full text-lg lg:text-xl font-sans space-x-2 border-b border-coffee-400">
            <span class="text-coffee-800 font-semibold">Skill</span>
            <span class="text-coffee-600">2022 -</span>
        </p>
    </div>
</div>
<!-- Archive & Resume End -->
<!-- Feed Start -->
<div class="container mx-auto px-4 lg:px-6 pt-8 md:pt-24 lg:pt-48">
    <div class="flex flex-col md:flex-row gap-2 mb-4 md:mb-0 justify-between w-full md:items-center">
        <h2 class="font-sans font-bold text-3xl lg:text-5xl text-coffee-800 md:pb-3">Feed</h2>
        <div class="flex gap-4 lg:gap-8">
            <div class="inline-flex items-center space-x-4">
                <span class="text-coffee-700 text-lg font-sans">Blog</span>
                <document-text-icon class="text-coffee-700 w-6 h-6" />
            </div>
            <div class="inline-flex items-center space-x-4">
                <span class="text-coffee-700 text-lg font-sans">Create</span>
                <document-text-icon class="text-coffee-700 w-6 h-6" />
            </div>
            <div class="inline-flex items-center space-x-4">
                <span class="text-coffee-700 text-lg font-sans">Moments</span>
                <document-text-icon class="text-coffee-700 w-6 h-6" />
            </div>
        </div>
    </div>
    <ul class="w-full">
        <li class="border-b border-coffee-400">
            <article class="py-4 flex justify-between items-stretch">
                <div>
                    <div class="flex items-center gap-2 lg:gap-4">
                        <a href="#"><h3 class="font-sans font-semibold text-lg lg:text-xl text-coffee-800">Blog</h3></a>
                        <a class="py-1 px-2 bg-coffee-200 rounded font-mono text-coffee-800 text-xs font-light" href="#" title="title">WordPress</a>
                    </div>
                    <p class="font-sans line-clamp-2 text-lg lg:text-xl text-coffee-600 mt-2 max-w-prose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis suspendisse purus tortor pulvinar. Leo tempus ut ut nisl nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis suspendisse purus tortor pulvinar. Leo tempus ut ut nisl nunc. </p>
                </div>
                <img class="rounded w-auto h-full flex-shrink max-w-[33.33%] md:max-w-[20%] lg:max-w-[12%]" src="./assets/home/Fish.jpg" alt="A fishy">
            </article>
        </li>
        <li class="border-b border-coffee-400">
            <article class="py-4 flex justify-between items-stretch">
                <div>
                    <div class="flex items-center gap-2 lg:gap-4">
                        <a href="#"><h3 class="font-sans font-semibold text-lg lg:text-xl text-coffee-800">Blog2</h3></a>
                        <a class="py-1 px-2 bg-coffee-200 rounded font-mono text-coffee-800 text-xs font-light" href="#" title="title">WordPress</a>
                    </div>
                    <p class="font-sans line-clamp-2 text-lg lg:text-xl text-coffee-600 mt-2 max-w-prose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis suspendisse purus tortor pulvinar. Leo tempus ut ut nisl nunc. </p>
                </div>
            </article>
        </li>
    </ul>
</div>
<!-- Feed End -->
<!-- Contact Start -->

<!-- Contact End -->
<div class="pt-6 lg:pt-12 pb-16 container mx-auto px-4 lg:px-6">
    {{ content }}
</div>
