{{ partial:home/header }}
{{ partial:home/about }}
{{ partial:home/featuredProjects }}
{{ partial:home/projectArchive }}
{{ partial:home/resume }}
<!-- Feed Start -->
<div class="container mx-auto px-4 lg:px-6 pt-8 md:pt-24 lg:pt-48">
    <div class="flex flex-col md:flex-row gap-2 mb-4 md:mb-0 justify-between w-full md:items-center">
        <h2 class="font-sans font-bold text-3xl lg:text-5xl text-coffee-800 md:pb-3">Feed</h2>
        <div class="flex gap-4 lg:gap-8">
            <div class="inline-flex items-center space-x-4">
                <span class="text-coffee-700 text-lg font-sans">Blog</span>
                <document-text-icon class="text-coffee-700 w-6 h-6" />
            </div>
            <div class="inline-flex items-center space-x-4">
                <span class="text-coffee-700 text-lg font-sans">Create</span>
                <document-text-icon class="text-coffee-700 w-6 h-6" />
            </div>
            <div class="inline-flex items-center space-x-4">
                <span class="text-coffee-700 text-lg font-sans">Moments</span>
                <document-text-icon class="text-coffee-700 w-6 h-6" />
            </div>
        </div>
    </div>
    <ul class="w-full">
        <li class="border-b border-coffee-400">
            <article class="py-4 flex justify-between items-stretch">
                <div>
                    <div class="flex items-center gap-2 lg:gap-4">
                        <a href="#"><h3 class="font-sans font-semibold text-lg lg:text-xl text-coffee-800">Blog</h3></a>
                        <a class="py-1 px-2 bg-coffee-200 rounded font-mono text-coffee-800 text-xs font-light" href="#" title="title">WordPress</a>
                    </div>
                    <p class="font-sans line-clamp-2 text-lg lg:text-xl text-coffee-600 mt-2 max-w-prose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis suspendisse purus tortor pulvinar. Leo tempus ut ut nisl nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis suspendisse purus tortor pulvinar. Leo tempus ut ut nisl nunc. </p>
                </div>
                <img class="rounded w-auto h-full flex-shrink max-w-[33.33%] md:max-w-[20%] lg:max-w-[12%]" src="./assets/home/Fish.jpg" alt="A fishy">
            </article>
        </li>
        <li class="border-b border-coffee-400">
            <article class="py-4 flex justify-between items-stretch">
                <div>
                    <div class="flex items-center gap-2 lg:gap-4">
                        <a href="#"><h3 class="font-sans font-semibold text-lg lg:text-xl text-coffee-800">Blog2</h3></a>
                        <a class="py-1 px-2 bg-coffee-200 rounded font-mono text-coffee-800 text-xs font-light" href="#" title="title">WordPress</a>
                    </div>
                    <p class="font-sans line-clamp-2 text-lg lg:text-xl text-coffee-600 mt-2 max-w-prose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis suspendisse purus tortor pulvinar. Leo tempus ut ut nisl nunc. </p>
                </div>
            </article>
        </li>
    </ul>
</div>
<!-- Feed End -->
<!-- Contact Start -->

<!-- Contact End -->
<div class="pt-6 lg:pt-12 pb-16 container mx-auto px-4 lg:px-6">
    {{ content }}
</div>
