<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="{{ mix src='css/app.css' }}">
    </head>
    <body class="bg-white font-sans leading-normal text-gray-800">
        <div id="app">
            <header class="fixed inset-0 bg-transparent">
                <div class="flex justify-between items-center container mx-auto px-4 lg:px-6 py-2 lg:py-3">
                    <h1 class="font-bold text-3xl">{{ title }}</h1>
                    <toggle-menu>
                        <ul class="rounded-lg shadow-sm bg-white absolute right-0 p-2 w-48 lg:w-auto lg:shadow-none lg:flex-row lg:p-0 lg:relative lg:text-left lg:flex gap-2">
                            {{ nav:main_nav }}
                                <li class="p-2 menu-item-{{index}}">
                                    <a href="{{ url }}" title="{{ title }}">{{ title }}</a>
                                </li>
                            {{ /nav:main_nav }}
                        </ul>
                    </toggle-menu>
                </div>
            </header>
            <main class="mx-auto">
                {{ template_content }}
            </main>
        </div>
        <script src="{{ mix src='/js/site.js' }}"></script>
    </body>
</html>
