<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ stack:head }}
        {{ if environment == 'production' }}
            <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-2NQZJJ9SZE"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-2NQZJJ9SZE');
            </script>
        {{ /if }}
        <link rel="stylesheet" href="{{ mix src='css/app.css' }}">
        {{ feedamic }}
    </head>
    <body class="bg-white dark:bg-stone-900 font-sans leading-normal text-gray-800">
        {{ aardvark-seo:body }}
        <div id="app">
            <nav-bar>
                <ul class="shadow-lg container bg-coffee-200 dark:bg-stone-800 sm:bg-transparent absolute right-0 pt-2 pb-6 px-4 w-screen sm:w-auto sm:shadow-none justify-end sm:justify-start flex-row sm:py-0 sm:relative text-left flex gap-4">
                    {{ nav:main_nav }}
                        <li class="p-2 menu-item-{{index}}">
                            <a
                                href="{{ url }}"
                                title="{{ title }}"
                                class="font-mono text-coffee-600 dark:text-coffee-300 tracking-wide xl:text-lg"
                            >
                                {{ title }}
                            </a>
                        </li>
                    {{ /nav:main_nav }}
                </ul>
            </nav-bar>
            <main class="mx-auto h-full min-h-80">
                {{ template_content }}
            </main>
            {{ partial:partials/footer }}
        </div>
        <script src="{{ mix src='/js/site.js' }}"></script>
        {{ aardvark-seo:footer }}
    </body>
</html>
