<div class="container mx-auto px-4 lg:px-6 pt-20 lg:pt-24 pb-16 lg:pb-20">
  <header class="mb-4 lg:mb-6">
    <h1 class="font-header font-bold text-3xl lg:text-5xl text-coffee-800 mb-4 lg:mb-8">Featured Projects</h1>
  </header>
  <section>
    <ul class="grid grid-cols-1 gap-3 lg:gap-6 mt-6 lg:mt-9">
      {{ collection:projects is_featured:is="true" limit="4" sort="project_start_date:desc" }}
          <li>
              <article class="flex flex-col md:flex-row-reverse md:items-end justify-between border border-coffee-400 rounded-lg p-2 lg:p-4">
                  <a href="{{ url }}" class="hover:opacity-60 w-full md:w-1/2 lg:w-3/5" title="{{ title }}">
                      {{ featured }}
                          <img class="rounded-md" src="{{ url }}" alt="{{ alt }}">
                      {{ /featured }}
                  </a>
                  <div class="pt-4 md:p-2 lg:p-4">
                      <ul class="flex gap-2">
                          {{ skills }}
                            {{ partial:components/taxonomy_li :url="url" :title="title" }}
                          {{ /skills }}
                      </ul>
                      <a href="{{ url }}" title="{{ title }}">
                          <h3 class="text-2xl mt-4 lg:text-4xl font-header font-semibold text-coffee-800">
                              <span class="border-b-2 border-transparent hover:border-coffee-600 leading-tight">{{ title }}</span>
                          </h3>
                      </a>
                      <p class="lg:text-xl font-header text-coffee-700">
                          <span class="sr-only">Project date(s):</span>
                          {{ if is_current }}
                              <time datetime="{{ start_date format='Y-m-d' }}">{{ start_date format='F Y' }} - </time>
                          {{ else }}
                              <time datetime="{{ start_date format='Y-m-d' }}">{{ start_date format='F Y' }} - </time>
                              <time datetime="{{ end_date format='Y-m-d' }}">{{ end_date format='F Y' }}</time>
                          {{ endif }}
                      </p>
                  </div>
              </article>
          </li>
      {{ /collection:projects }}
    </ul>
  </section>
  <section class="py-10 lg:py-12">
    <div class="flex flex-col gap-2 pb-4 md:pb-0 border-b border-coffee-400 md:border-none md:flex-row md:justify-between w-full md:items-center">
      <h2 class="font-header font-bold text-3xl lg:text-5xl text-coffee-800 md:pb-3">All Projects</h2>
      <ul class="flex gap-4 lg:gap-8">
          {{ taxonomy from="status" }}
              <a href="{{ url }}" title="{{ title }}" class="inline-flex items-center space-x-4">
                  <div class="w-2 h-2 rounded-full {{ marker }}"></div>
                  <span class="text-coffee-700 lg:text-lg font-header">{{ title }}</span>
              </a>
          {{ /taxonomy }}
      </ul>
    </div>
    {{ collection:projects as="project" paginate="9" redirects="true" is_featured:isnt="true" sort="project_start_date:desc" }}
        <table class="w-full">
            <tbody class="divide-y divide-coffee-400">
                {{ project }}
                    <tr class="py-4 grid md:grid-cols-4 gap-2">
                        <td class="md:col-span-2">
                            <div class="flex items-center justify-between md:justify-start gap-4">
                                <div class="gap-4 inline-flex items-center">
                                    {{ project_status }}
                                        <div class="w-2 h-2 rounded-full {{ marker }}">
                                            <span class="sr-only">Project Status: {{ title }}</span>
                                        </div>
                                    {{ /project_status }}
                                    <a href="{{ url }}" title="{{ title }}" target="{{ blueprint == 'link' ?= '_blank'  }}" class="text-xl font-header space-x-2">
                                        <span class="text-coffee-800 font-semibold">{{ title }}</span>
                                        <span class="sr-only">Project date(s):</span>
                                        {{ if is_current }}
                                            <time class="text-coffee-600" datetime="{{ start_date format='Y-m-d' }}">{{ start_date format='M Y' }} -</time>
                                        {{ else }}
                                            <time class="text-coffee-600" datetime="{{ start_date format='Y-m-d' }}">{{ start_date format='M Y' }} -</time>
                                            <time class="text-coffee-600" datetime="{{ end_date format='Y-m-d' }}">{{ end_date format='M Y' }}</time>
                                        {{ endif }}
                                    </a>
                                </div>
                                <div class="inline-flex gap-2">
                                    {{ if blueprint == 'projects' }}
                                        <a href="{{ url }}" title="{{ title }}">
                                            <document-text-icon class="text-coffee-700 w-6 h-6" />
                                            <span class="sr-only">View case study</span>
                                        </a>
                                    {{ else }}
                                        <a href="{{ url }}" title="{{ title }}" target="_blank">
                                            <external-link-icon class="text-coffee-700 w-6 h-6" />
                                            <span class="sr-only">View site</span>
                                        </a>
                                    {{ /if }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <ul class="inline-flex items-center gap-2">
                                {{ skills }}
                                    {{ partial:components/taxonomy_li :url="url" :title="title" }}
                                {{ /skills }}
                            </ul>
                        </td>
                        <td class="hidden md:flex justify-end gap-4 mt-0">
                            {{ if partner_title }}
                                <a href="{{ partner_url }}" title="{{ partner_title }}" class="text-xl font-header text-coffee-800 font-semibold">
                                    {{ partner_title }}
                                </a>
                                <a href="{{ partner_url }}" title="{{ partner_title }}">
                                    <span class="sr-only">View site</span>
                                    <external-link-icon class="text-coffee-700 w-6 h-6" />
                                </a>
                            {{ /if }}
                        </td>
                    </tr>
                {{ /project }}
            </tbody>
        </table>
        {{ partial:components/pagination entry_type="projects"}}
    {{ /collection:projects }}
  </section>
</div>