<div class="container mx-auto px-4 lg:px-6 pt-8 md:pt-24 lg:pt-48">
  <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-6 lg:gap-8">
      <div id="about-images" class="flex md:w-2/5 flex-col gap-2 lg:gap-4">
          <div class="grid grid-cols-1 lg:grid-cols-2 grid-flow-col-dense w-full gap-2 lg:gap-4">
              <div class="hidden lg:block w-full h-full">
                {{ responsive:about_landscape_1 class="rounded-md" }}
              </div>
              <div class="hidden md:block row-span-2 w-full h-full">
                {{ responsive:about_portrait class="rounded-md" }}
              </div>
              <div class="w-full h-full hidden lg:block">
                {{ responsive:about_landscape_2 class="rounded-md" }}
              </div>
          </div>
          <div class="w-full">{{ responsive:about_landscape_3 class="rounded-md" }}</div>
      </div>
      <div id="about-content" class="py-4 lg:py-8 max-w-prose dark:prose-invert">
          <h2 class="font-header font-bold text-3xl lg:text-5xl text-coffee-800 dark:text-coffee-200 pb-3">{{ about_heading }}</h2>
          <div class="prose dark:prose-invert pb-6">
              {{ about_description }}
          </div>
          <div>
              <h3 class="font-header font-semibold text-xl lg:text-3xl text-coffee-800 dark:text-coffee-200">{{ about_values_heading }}</h3>
              <ul class="pt-2 max-w-md grid grid-cols-1 gap-x-4 lg:gap-0">
                {{ about_values }}
                  <li class="py-3 w-full border-b border-coffee-400 dark:border-coffee-800 text-lg lg:text-xl text-coffee-600 dark:text-coffee-500 font-header">{{value}}</li>
                {{ /about_values }}
              </ul>
          </div>
      </div>
  </div>
</div>