<div class="container mx-auto px-4 lg:px-6 pt-8 md:pt-24 lg:pt-48">
  <h2 class="font-header font-bold text-3xl lg:text-5xl text-coffee-800 dark:text-coffee-200 pb-3">Featured Projects</h2>
  <ul class="grid grid-cols-1 gap-3 lg:gap-6 mt-6 lg:mt-9">
      {{ collection:projects is_featured:is="true" sort="project_start_date:desc" }}
          <li>
              <article class="flex flex-col md:flex-row-reverse md:items-end justify-between border border-coffee-400 dark:border-coffee-800 rounded-lg p-2 lg:p-4">
                  <a href="{{ url }}" class="hover:opacity-60 w-full md:w-1/2 lg:w-3/5" title="{{ title }}">
                      {{ featured }}
                          <img class="rounded-md" src="{{ url }}" alt="{{ alt }}">
                      {{ /featured }}
                  </a>
                  <div class="pt-4 md:p-2 lg:p-4">
                      <ul class="flex gap-2">
                          {{ skills }}
                            {{ partial:components/taxonomy_li :url="url" :title="title" }}
                          {{ /skills }}
                      </ul>
                      <a href="{{ url }}" title="{{ title }}">
                          <h3 class="text-2xl mt-4 lg:text-4xl font-header font-semibold text-coffee-800 dark:text-coffee-200">
                              <span class="border-b-2 border-transparent hover:border-coffee-600 dark:hover:border-coffee-400 leading-tight">{{ title }}</span>
                          </h3>
                      </a>
                      <p class="lg:text-xl font-header text-coffee-700 dark:text-coffee-400">
                          <span class="sr-only">Project date(s):</span>
                          {{ if is_current }}
                              <time datetime="{{ start_date format='Y-m-d' }}">{{ start_date format='F Y' }} - </time>
                          {{ else }}
                              <time datetime="{{ start_date format='Y-m-d' }}">{{ start_date format='F Y' }} - </time>
                              <time datetime="{{ end_date format='Y-m-d' }}">{{ end_date format='F Y' }}</time>
                          {{ endif }}
                      </p>
                  </div>
              </article>
          </li>
      {{ /collection:projects }}
  </ul>
</div>