{{ push:head }}
  <title>All Galleries // Aidan Weltner</title>
  {{# <meta name="description" content="{{ gallery_index:description }}"> #}}
  <link rel="canonical" href="{{ config:app:url }}/galleries">
  <meta property="og:url" content="{{ config:app:url }}/galleries">
  <link rel="shortcut icon" href="/assets/seo/favicon.png">
  <meta property="og:site_name" content="Aidan Weltner">
  <meta property="og:title" content="All Galleries // Aidan Weltner">
  <meta property="og:description" content="{{# {{ gallery_index:description }} #}}">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en-US">
  <meta name="twitter:card" content="summary">
{{ /push:head}}

<div class="container mx-auto px-4 lg:px-6 pt-20 lg:pt-24 pb-16 lg:pb-20">
  <header class="mb-4 lg:mb-6">
    <h1 class="font-header font-bold text-3xl lg:text-5xl text-coffee-800 dark:text-coffee-200 mb-4 lg:mb-8">Featured Galleries</h1>
  </header>
  <ul class="container mx-auto grid grid-cols-1 sm:grid-cols-3 gap-2">
    {{ collection:galleries }}
      <li class="w-full h-full relative">
        <div class="block">
          <a class="block hover:opacity-60" target="{{ (external_gallery == true) ? '_blank' : '_self' }}" href="{{ (external_gallery == true) ? external : url }}" title="{{ title }} Gallery">
            <div class="w-full">
              {{ responsive:featured class="rounded-md" glide:width="900" glide:height="600" glide:fit="crop" }}
            </div>
          </a>
          <a class="block relative" target="{{ (external_gallery == true) ? '_blank' : '_self' }}" href="{{ (external_gallery == true) ? external : url }}" title="{{ title }} Gallery">
            <h3 class="mt-2 font-header font-bold text-xl lg:text-2xl text-coffee-800 dark:text-coffee-200">{{ title }}</h3>
          </a>
        </div>
      </li>
    {{ /collection:galleries }}
  </ul>
  {{ partial:components/pagination entry_type="galleries"}}
</div>