<article class="container mx-auto px-4 lg:px-6 pt-20 lg:pt-24">
  <header class="mb-4 lg:mb-6 block">
    <div class="mx-auto max-w-prose dark:prose-invert">
      <ul class="flex gap-2 mb-2 lg:mb-4">
        {{ categories }}
          {{ partial:components/taxonomy_li :url="url" :title="title" }}
        {{ /categories }}
      </ul>
      <h1 class="font-header font-bold text-3xl lg:text-5xl text-coffee-800 dark:text-coffee-200 mb-2 lg:mb-3">
        {{ title }}
      </h1>
      <p class="text-coffee-700 dark:text-coffee-300 mb-4 lg:mb-8"><span class="sr-only">Published: </span>{{ publish_date format="M d, Y" }}</p>
    </div>
    {{ featured }}
      <img class="rounded-md w-full max-w-screen-md mx-auto" src="{{ url }}" alt="{{ alt }}">
    {{ /featured }}
  </header>
  <div class="prose dark:prose-invert mx-auto mb-4 lg:mb-8">
    {{ content }}
  </div>
  <div class="max-w-prose dark:prose-invert mx-auto mb-8 lg:mb-16">
    {{ partial:components/back_to_index url="/feed/" title="Back to feed"}}
  </div>
</article>