.font-header {
  &.text-lg {
    font-size: 1.289rem;
  }

  &.text-xl {
    font-size: 1.433rem;
  }

  &.text-2xl {
    font-size: 1.719rem;
  }

  &.text-3xl {
    font-size: 2.149rem;
  }

  &.text-4xl {
    font-size: 2.579rem;
  }

  &.text-5xl {
    font-size: 3.438rem;
  }
}